---
import LegalLayout from '../layouts/LegalLayout.astro';
---
<LegalLayout title="Impressum">
  <h2>Angaben gemäss Art. 13 ZGB</h2>
  <p>
    ictira GmbH<br />
    Aufgendsweg 3<br />
    4455 Zunzgen, Schweiz
  </p>

  <h2>Kontakt</h2>
  <p>
    E-Mail: <a href="mailto:hallo@ictira.com">hallo@ictira.com</a>
  </p>

  <h2>Handelsregistereintrag</h2>
  <p>
    Eingetragener Firmenname: ictira GmbH<br />
    Handelsregisternummer: CHE-476.809.964<br />
    MWST-Nr.: CHE-476.809.964 MWST
  </p>

  <h2>Haftungsausschluss</h2>
  <p>
    Der Autor übernimmt keine Gewähr für die Richtigkeit, Genauigkeit, Aktualität,
    Zuverlässigkeit und Vollständigkeit der Informationen auf dieser Website.
    Haftungsansprüche gegen den Autor wegen Schäden materieller oder immaterieller Art,
    welche aus dem Zugriff oder der Nutzung bzw. Nichtnutzung der veröffentlichten
    Informationen, durch Missbrauch der Verbindung oder durch technische Störungen entstanden
    sind, werden ausgeschlossen.
  </p>

  <h2>Urheberrechte</h2>
  <p>
    Die Urheber- und alle anderen Rechte an Inhalten, Bildern, Fotos oder anderen Dateien
    auf dieser Website gehören ausschliesslich der ictira GmbH oder den namentlich genannten
    Rechtsinhabern. Für die Reproduktion jeglicher Elemente ist die schriftliche Zustimmung
    des Urheberrechtsträgers im Voraus einzuholen.
  </p>
</LegalLayout>
